server:
  port: 8072

spring:
  application:
    name: "gatewayserver"
  config:
    import: "optional:configserver:http://localhost:8071/"
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              lower-case-service-id: true
              enabled: true
          httpclient:
            connect-timeout: 1000
            response-timeout: 10s

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted
  info:
    env:
      enabled: true

info:
  app:
    name: "gatewayserver"
    description: "GatewayServer Application"
    version: "1.0.0"

logging:
  level:
    com:
      tdtien:
        gatewayserver: DEBUG

resilience4j:
  circuitbreaker:
    configs:
      default:
        sliding-window-size: 10 # of calls to consider for the circuit breaker
        permitted-number-of-calls-in-half-open-state: 2 # calls allowed when half-open
        wait-duration-in-open-state: 10000 # time to wait before transitioning from open to half-open (in ms)
        failure-rate-threshold: 50 # percentage of failures to open the circuit
