server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: accounts
  profiles:
    active: prod
  config:
    import: "optional:configserver:http://localhost:8071/"
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
    stream:
      bindings:
        updateCommunication-in-0:
            destination: communication-sent # the name of the input channel.
            group: ${spring.application.name}
        sendCommunication-out-0:
            destination: send-communication # the name of the output channel.
      kafka:
        binder:
          brokers:
            - localhost:9092
    function:
      definition: updateCommunication # the name of the function bean



build:
    version: 1.0.0

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      enabled: true
    health:
      probes:
        enabled: true
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

endpoints:
  shutdown:
    enabled: true

eureka:
  instance:
    preferIpAddress: true # Use IP address for registration
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/  # URL for Eureka server registration http://localhost:8070/eureka/

info:
  app:
    name: ${spring.application.name}
    description: "Accounts Service"
    version: "1.0.0"

logging:
  level:
    com:
      tdtien:
        accounts: DEBUG
  pattern:
    level: "%5p[${spring.application.name}, %X{trace_id}, %X{span_id}]"

resilience4j:
  circuitbreaker:
    configs:
      default:
        sliding-window-size: 10 # of calls to consider for the circuit breaker
        permitted-number-of-calls-in-half-open-state: 2 # calls allowed when half-open
        wait-duration-in-open-state: 10000 # time to wait before transitioning from open to half-open (in ms)
        failure-rate-threshold: 50 # percentage of failures to open the circuit

  timelimiter:
    configs:
      default:
        timeout-duration: 10s
        cancel-running-future: true

  retry:
    configs:
      default:
        max-attempts: 3
        wait-duration: 100
        enable-exponential-backoff: true # Enable exponential backoff for retries Example: 100ms, 200ms, 400ms
        exponential-backoff-multiplier: 2.0 # Multiplier for exponential backoff Example: 100ms, 200ms, 400ms
        ignore-exceptions:
          - java.lang.NullPointerException
        retry-exceptions: # Exceptions that will trigger a retry --> don't need the ignore-exceptions because it only retries on these exceptions
          - java.util.concurrent.TimeoutException

  ratelimiter:
    configs:
      default:
        timeout-duration: 1000 # Time to wait for a permission
        limit-refresh-period: 5000 # Time period for rate limiting
        limit-for-period: 1 # Number of calls allowed per period


