server:
    port: 8071
spring:
  application:
    name: configserver
  profiles:
    #active: native
    active: git
  cloud:
    config:
      server:
        #native:
          #search-locations: "classpath:/config"
         # search-locations: "file:///D://project//microservices//configs"
        git:
          uri: https://github.com/TienTran1504/bank-config
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true

management:
  endpoints:
      web:
        exposure:
          include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

encrypt:
  key: "s3cr3tK3y1234567"

logging:
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"